.button {
  transition: background-color 0.2s;
  padding: 0.6em 1em;
  border: 0;
  border-radius: 2px;
  margin: 3px;
  cursor: pointer;
  font-size: 0.8125em;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
}

.button:focus {
  outline: none;
  text-decoration: none;
}

.button--default { color: slategray }
.button--primary { color: steelblue }
.button--secondary { color:teal }
.button--warning { color: tomato}
.button--danger { color: crimson }
.button--success { color: mediumseagreen }

.button--large {
  padding: 0.8em 1.2em;
  font-size: 1.2em;
}

.button--medium {
  padding: 0.6em 1em;
  font-size: 0.9em;
}

.button--small {
  padding: 0.3em 0.7em;
  font-size: 0.65em;
}
